<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <title>Trading Dashboard</title>
  <link rel="stylesheet" href="/styles.css" />
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="/script.js"></script>
</head>
<body>
  <form id="withdraw">
    <h1 id="bal">$SOL __.___</h1>
    <h2>Withdraw Sol</h2>
    <input type="number" id="wField" name="amt" step="0.000000001" placeholder="Amount to withdraw" required>
    <input type="text" name="walletAddress" placeholder="wallet address" required>
    <input type="password" style="max-width: 300px;" placeholder="Input your password" name="pass" required />
    <button type="submit">Withdraw</button>
  </form>

  <main>
  <div class="container">
    <h1>Trading Dashboard</h1>
    <center>
      <a href="/trades-history" target="_blank">Go to Trades history</a>
    </center>

    <div class="status">
      <small id="toggleBotStatus">
        <%= toggleBot ? 'BOT running...' : 'BOT is not active 😴' %>
      </small>
      <button id="toggleActivateBot">
        <%= toggleBot ? 'Terminate' : 'Activate' %>
      </button>
    </div>
    
    <div class="status">
      <small id="toggleAlternativeStatus">
        <%= alternate ? 'Alternative Mode..' : 'Normal Mode' %>
      </small>
      <button id="toggleAlternativeBtn">
        <%= alternate ? 'switch to normal mode' : 'switch to alternative mode' %>
      </button>
    </div>
    
    <div style="margin-bottom: 1rem;"> 
      <button class="tab-btn" data-tab="1">Trade filter</button>
      <button class="tab-btn" data-tab="2">Trade config</button>
    </div>

    <small>Recipient Bot is required in Trade Settings Tab</small>
    <h2>Trade Settings</h2>
    <form id="thresholdForm">
      <div>
        <div id="tab1">
          <label for="age">Token age:</label>
          <input type="number" id="age" name="age" value="<%= thresholds.age || 0 %>" required min="0" />

          <div class="input-pair">
            <div>
              <label for="min-liquidity">Min Liquidity:</label>
              <input type="number" id="min-liquidity" name="minLiquidity" value="<%= thresholds.minLiquidity || 0 %>" required min="0" />
            </div>
            <div>
              <label for="max-liquidity">Max Liquidity:</label>
              <input type="number" id="max-liquidity" name="maxLiquidity" value="<%= thresholds.maxLiquidity || 0 %>" required min="0" />
            </div>
           </div>
           
           <div class="input-pair">
            <div>
              <label for="min-fdv">Min FDV:</label>
              <input type="number" id="min-fdv" name="minFdv" value="<%= thresholds.minFdv || 0 %>" required min="0" />
            </div>
            <div>
              <label for="max-fdv">Max FDV:</label>
              <input type="number" id="max-fdv" name="maxFdv" value="<%= thresholds.maxFdv || 0 %>" required min="0" />
            </div>
           </div>
           
           <div class="input-pair">
            <div>
              <label for="min-mc">Min Market Cap:</label>
              <input type="number" id="min-mc" name="minMc" value="<%= thresholds.minMc || 0 %>" required min="0" />
            </div>
            <div>
              <label for="max-mc">Max Market Cap:</label>
              <input type="number" id="max-mc" name="maxMc" value="<%= thresholds.maxMc || 0 %>" required min="0" />
            </div>
           </div>
        </div>
           
        <div id="tab2" style="display: none;">
          <label for="chain">Select Chain:</label>
          <select id="chain" name="chain">
            <option value="solana" default>Solana</option>
            <option value="BSC">BSC</option> 
            <option value="Base">Base</option>
          </select>

          <label for="recipientBot">Recipient Bot:</label>
          <input type="text" id="recipientBot" name="recipientBot" value="<%= thresholds.recipientBot || '' %>" required>

          <label for="maxTrade">Max Trades:</label>
          <input type="number" id="maxTrade" name="maxTrade" value="<%= thresholds.maxTrade || 0 %>" required min="0" />
        
          <label for="tradeAmount">Trade Amount In Lamport:</label>
          <input type="number" id="tradeAmount" step="0.000000001" name="tradeAmount" value="<%= thresholds.tradeAmount || 0 %>" required min="0" />

          <label for="pollInterval">Polling Interval (ms):</label>
          <input type="number" id="pollInterval" name="pollInterval" value="<%= thresholds.pollInterval || 0 %>" required min="0" />
        </div>
      </div>
      <input type="password" style="max-width: 300px;" placeholder="Input your password" name="pass" required />
      <button type="submit">Update Settings</button>
    </form>
  </div>


  <div id="history" class="container" style="display: none; overflow-y: auto;"> 
    <h1>Trades</h1> 
    <table id="history-table">
      <thead>
        <tr>
          <th>Chain</th>
          <th>Name</th>
          <th>Rug Check</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody id="history-body"></tbody>
    </table>
  </div>
  </main>
  
  <br><br>

  <h2 style="text-align:center;">LOGS</h2>
  <div id="notifications" tabindex="0"></div>
</body>
</html>
